DATABASE_URL="postgresql://postgres:postgres@localhost:5432/stockify?schema=public"
APP_URL="http://localhost:3000"
SHOPIFY_CLIENT_ID=""
SHOPIFY_CLIENT_SECRET=""
SHOPIFY_API_VERSION="2026-07"
SHOPIFY_SCOPES="read_products,read_inventory,write_inventory,read_locations"
APP_ENCRYPTION_KEY=""
